# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [20]:
# Hipótesis nula(H0) = Las dos máquinas empaquetan igual de rápido.

# Hipótesis alternativa(H1) = La máquina nueva empaqueta más rápido de media que la máquina actualmente utilizada.

New machine        float64
    Old machine    float64
dtype: object

In [24]:
df = pd.read_csv("machine.txt", sep="\t", encoding="utf-16")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [26]:
new_machine=df["New machine"]
old_machine=df["    Old machine"]

In [30]:
alpha = 0.05

In [28]:
new_machine

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

In [32]:
t_stat, p_value = st.ttest_ind(new_machine, old_machine, equal_var=False) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

Test Statistic (t): -3.40
P-Value: 0.0032

In [ ]:
# Rechazamos la hipótesis nula porque el P-value es menor que alpha, con lo cual, establecemos que la máquina nueva empaqueta más rápido de media que la máquina actualmente utilizada.